* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;

  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/93/India_Map_Animation_Created_by_samnad.s_Kudappanamoodu.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  background-attachment: fixed;
}

.App {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.App h1 {
  color: #1d3557;
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
}

.vote-table-card {
  width: 900px;
  max-width: 95%;

  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(3px);

  border-radius: 20px;
  padding: 25px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.vote-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.vote-table thead th {
  background: #1d3557;
  color: white;

  padding: 15px;
  text-align: center;
  font-size: 18px;
}

.vote-table thead th:first-child {
  border-radius: 10px 0 0 10px;
}

.vote-table thead th:last-child {
  border-radius: 0 10px 10px 0;
}

.vote-table tbody tr {
  background: rgba(248, 249, 250, 0.85);

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.vote-table tbody td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}

.vote-table tbody td:first-child {
  border-radius: 12px 0 0 12px;
  font-weight: bold;
  color: #1d3557;
}

.vote-table tbody td:last-child {
  border-radius: 0 12px 12px 0;
}

.party-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.vote-table tbody td:nth-child(4) {
  font-size: 34px;
  font-weight: bold;
  color: #1d3557;
}

.vote-btn {
  width: 100px;

  background: #1565ff;
  color: white;

  border: none;
  border-radius: 10px;

  padding: 12px;

  cursor: pointer;
  font-size: 16px;

  transition: 0.3s;
}

.vote-btn:hover {
  background: #0048c7;
}

.reset-btn {
  margin-top: 20px;

  width: 180px;

  background: #1565ff;
  color: white;

  border: none;
  border-radius: 10px;

  padding: 12px;

  cursor: pointer;
  font-size: 16px;

  transition: 0.3s;
}

.reset-btn:hover {
  background: #0048c7;
}