* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    min-height: 100vh;

    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/93/India_Map_Animation_Created_by_samnad.s_Kudappanamoodu.gif");

    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.voting-card {
    width: 700px;
    max-width: 90%;

    background: rgba(255, 255, 255, 0.75);

    backdrop-filter: blur(3px);

    border-radius: 20px;

    padding: 25px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.voting-card h1 {
    text-align: center;
    color: #1d3557;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

.flag-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.orange {
    width: 80px;
    height: 4px;
    background: orange;
}

.green {
    width: 80px;
    height: 4px;
    background: green;
}

.chakra {
    color: blue;
    font-size: 24px;
}

.candidate-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;

    background: rgba(248, 249, 250, 0.85);

    border-radius: 12px;

    margin-bottom: 15px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.party-info {
    width: 250px;
}

.party-info h2 {
    color: #1d3557;
    margin-bottom: 5px;
}

.party-info p {
    color: #666;
    margin-bottom: 10px;
}

.party-symbol {
    display: flex;
    align-items: center;
    gap: 10px;
}

.party-symbol img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.party-symbol span {
    font-size: 20px;
    font-weight: bold;
}

button {
    width: 100px;

    background: #1565ff;
    color: white;

    border: none;
    border-radius: 10px;

    padding: 12px;

    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0048c7;
}

.votes {
    width: 80px;

    font-size: 34px;
    font-weight: bold;
    color: #1d3557;

    text-align: center;
}

.votes span {
    display: block;
    font-size: 14px;
    color: gray;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.reset-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.reset-btn {
    width: 180px;

    background: #e53935;
    color: white;

    border: none;
    border-radius: 10px;

    padding: 12px;

    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

    transition: 0.3s;
}

.reset-btn:hover {
    background: #c62828;
}